<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
</head>

<body>
    Welcome, <%= name %>

    <a href='#'>My details</a>
    <a href='/doctor/dashboard/patients'>My patients</a>
</body>

</html>